<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Psychologist</title>
</head>
<body>
    <h1>Client Registration</h1>
    <a href="/">Home</a><br><br>

    <% if(errors){ %>
        <% errors.forEach(err => { %>
            <p style="color: red;"><%= err %></p>
        <% }) %>
    <% } %>
    <form action="/clients/create" method="POST">
        <!-- Name -->
        <label for="name">Name</label><br>
        <input type="text" name="name"><br><br>

        <!-- Email -->
        <label for="email">Email</label><br>
        <input type="text" name="email"><br><br>

        <!-- Username -->
        <label for="username">Username</label><br>
        <input type="text" name="username"><br><br>

        <!-- Password -->
        <label for="password">Password</label><br>
        <input type="password" name="password"><br><br>

        <button type="submit">Create</button> <button style="color: white; margin-left: 10px; padding: 2px;"><a href="/" style="text-decoration: none; color: black">Cancel</a></button>
    </form>
</body>
</html>