<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Psychologist</title>
</head>
<body>
    <h1>Welcome to Hello Psychologist</h1>
    <% if(success){ %>
        <p style="color: green;"><%= success %></p>
    <% } %>
    <a href="/login">Login</a><br>
    <a href="/psychologists/create">Register as Psychologist</a><br>
    <a href="/clients/create">Register as Client</a><br>
</body>
</html>